.b{
	font-size:50px;
	padding-left:30%;
	color:red;
}
.p1{
	margin-top:5px;
	padding-left:35%;
}
.p2{
	font-size:22px;
	padding-left:40%;
	padding-top:10px;
}
.th1{
	padding-right:65px;
}
.th2{
	width:82%;
	border-color:transparent;
}
.th3{
	border-left:1px solid black;
	padding-left:8px;
	padding-right:8px;
}
.th4{
	padding-right:8px;
	padding-left:8px;
	background-color:yellow;
}
.class8{
	background-color:#F7E968
}
.class9{
	background-color:#B1B1E0;
}
.class10{
	background-color:#F59E2C;
}
.class11{
	background-color:#E88B9E;
}
.class12{
	background-color:#7EF291;
}
.class13{
	padding-right:100px;
}
.class14{
	padding-right:40px;
}
.class15{
	width:52%;
	border-color:transparent;
}
.class16{
	border-color:transparent;
}
.class17{
	padding-right:43px;
}
.class18{
	text-align:left;
}
.class19{
	padding-right:15%;
}
.class20{
	border-left:1px solid black;
}
.width{
	width:56%;
	border-color:transparent;
}
.color{
	color:red;
}
.width1{
	width:94%;
}
